[
  {rabbitmq_auth_backend_ldap, [
    {vhost_access_query,
      {in_group, "cn=atlas-vhost-users,ou=groups,dc=atlas,dc=local"}},
    {resource_access_query,
      {in_group, "cn=atlas-resource-users,ou=groups,dc=atlas,dc=local"}},
    {topic_access_query, {constant, true}},
    {tag_queries, [
      {administrator, {constant, false}},
      {management, {constant, false}},
      {policymaker, {constant, false}},
      {monitoring, {constant, false}}
    ]}
  ]}
].

